# Linkage attack

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, Column, Numeric, Integer, VARCHAR, text
from sqlalchemy.orm import scoped_session, sessionmaker
import pandas as pd

SUPP_RANGE = 2

engine = create_engine("postgresql://postgresql:password@localhost:5432/pds_proj_1")
CONN = engine.connect()
META_DATA = MetaData()
META_DATA.reflect(bind=engine)

# MED_TABLE = META_DATA.tables["med_data"]
MED_TABLE = META_DATA.tables["med_data_k_anonymous"]
WORK_TABLE = META_DATA.tables["work_data"]

with engine.connect() as conn:
    result = conn.execute(MED_TABLE.select())
    MED_TABLE = result.fetchall()
    
    result = conn.execute(WORK_TABLE.select())
    WORK_TABLE = result.fetchall()


med_df = pd.DataFrame(MED_TABLE)
work_df = pd.DataFrame(WORK_TABLE)

In [25]:
med_df.head()

                                     id    age  gender postal_code diagnosis
0  17188ddc-5b56-40c5-9d76-15385f0a1cdc  30-65    Male      606***   T23419A
1  2dd3517c-027f-4b24-9bf0-a7c192494e38  30-65  Female      606***     K4131
2  64d69c34-53a6-4dfe-96dc-188e9879eda1  30-65    Male      606***   S83269S
3  68c39879-9184-44ca-a4ab-6e935dd8ef32  30-65    Male      606***    S23428
4  812240c0-81cf-4785-a6b7-bb0ee406f562  30-65  Female      606***    S93122

In [26]:
work_df.head()

,id,f_name,l_name,postal_code,gender,education,workplace,department
0,1,Tamqrah,Shawdforth,133261301,Female,Fachhochschule Bonn-Rhein-Sieg,Schamberger Group,Product Management
1,2,Ardys,Ferenczi,64744,Female,Chaudhary Charan Singh University,Gutmann,Cummings and Cormier
2,3,Margette,Dibner,62606,Female,University of Sudbury,Doyle,Powlowski and Leuschke
3,4,Libby,Gandrich,593301943,Female,University College Cork,Jenkins Inc,Training
4,5,Lennard,Castelin,006311003,Male,University of West Hungary,VonRueden-Dooley,Marketing

In [27]:
# useless for now
def degeneralize_age(age_range):
    age_lower, _ = age_range.split(" - ")
    return int(age_lower)

In [28]:
def suppress_post_code(code, supp_range = SUPP_RANGE):
    post_code_supped = list(str(code))
    post_code_supped[-supp_range:] = ["*"]*supp_range
    post_code_supped = ''.join(post_code_supped)
    return post_code_supped

In [29]:
work_df['postal_code'] = work_df['postal_code'].apply(suppress_post_code)
med_df['postal_code'] = med_df['postal_code'].apply(suppress_post_code)

In [30]:
work_df.head()

,id,f_name,l_name,postal_code,gender,education,workplace,department
0,1,Tamqrah,Shawdforth,1332613**,Female,Fachhochschule Bonn-Rhein-Sieg,Schamberger Group,Product Management
1,2,Ardys,Ferenczi,647**,Female,Chaudhary Charan Singh University,Gutmann,Cummings and Cormier
2,3,Margette,Dibner,626**,Female,University of Sudbury,Doyle,Powlowski and Leuschke
3,4,Libby,Gandrich,5933019**,Female,University College Cork,Jenkins Inc,Training
4,5,Lennard,Castelin,0063110**,Male,University of West Hungary,VonRueden-Dooley,Marketing

In [31]:
matches = pd.merge(
    work_df, 
    med_df, 
    on=['postal_code', 'gender'],
    how='inner',
    suffixes=('_work', '_med')
)

In [32]:
unique_matches = matches[matches.groupby(['f_name', 'l_name'])['f_name'].transform('size') == 1]
len(unique_matches)

0

For postal code suppression =2 the linkage attack managed to re-identify 666 individuals (66.6%). Which is a very successful attack.

TODO: Increase suppression